<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5d0ed62c-6a97-46f1-b027-0f2c3b350723/resourcegroups/FreeGroup/providers/Microsoft.Web/sites/CnapLvivBot20171119082856</ResourceId>
    <ResourceGroup>FreeGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cnaplvivbot20171119082856.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cnaplvivbot20171119082856.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CnapLvivBotD</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CnapLvivBot20171119082856</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WitAiKey" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="XLXFOXGUQLLSHZHQNEZQWFX54MZ767EF" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WitAiKey_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="XLXFOXGUQLLSHZHQNEZQWFX54MZ767EF" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Redis" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="tsnap.redis.cache.windows.net:6380,password=1WHEKqjjIRuQqG2/0q5qfFJagjstEnEtlZkdM3VQyWA=,ssl=True,abortConnect=False,allowAdmin=true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Redis_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="tsnap.redis.cache.windows.net:6380,password=1WHEKqjjIRuQqG2/0q5qfFJagjstEnEtlZkdM3VQyWA=,ssl=True,abortConnect=False,allowAdmin=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Redis-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WitAiKey-Web.config Connection String" />
  </ItemGroup>
</Project>