<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EndpointUrl" value="https://looknfeel.documents.azure.com:443/" />
    <add key="PrimaryKey" value="BtanLAdbbW71mv8bY0ekjgnT3lfVh4poauMFwTmpCzHUDNGxMV7zWdaR7uBgHMiCNmQwOll0hApicb79bGfM6w==" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
